@media screen and (max-width: 500px) {
  #features {
    padding: 20px;
    padding-right: 30px;
    width: 111%;
  }
  #pricing{
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #header,
  #footer {
    width: 111%;
    flex-wrap: wrap;
  }

  #portfolio {
    width: 110%;
  }
}
.test{
}
@tailwind utilities;
